/.vs/XGNSS-Test/v16
/Working/XGNSS-Test-0.2.0参考文件
/Working/参考文件
/Publish/*.zip
/XG-WebConnect/x64/Debug
/XG-WebConnect/x64/Release
/XGNSS-Test/x64/Debug
/XGNSS-Test/x64/Release
/x64/Release
/x64/Debug
